<loader *ngIf="loader"></loader>
<div class="list clientForm">
  <form action="" [formGroup]="clientDetails">
    <div class="custom-form-right">
      <div class="row">
        <div class="col-lg-12">
          <h4>Update Company Profile</h4>
        </div>
        <div class="col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>Company name</mat-label>
            <input
              matInput
              placeholder="Company name"
              name="companyName"
              formControlName="companyName"
            />
            <mat-icon matSuffix>
              <img src="./assets/images/company-icon.svg" />
            </mat-icon>
            <mat-error
              *ngIf="clientDetails?.get('companyName')?.hasError('required')"
            >
              Company Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>Gst Number</mat-label>
            <input
              matInput
              placeholder="Gst Number"
              name="gstNumber"
              formControlName="gstNumber"
              maxlength="15"
              minlength="15"
            />
            <mat-icon matSuffix>
              <img src="./assets/images/gst-icon.svg" />
            </mat-icon>
            <mat-error
              *ngIf="clientDetails?.get('gstNumber')?.hasError('required')"
              >Gst Number <strong>required</strong></mat-error>
            <mat-error
              *ngIf="clientDetails.get('gstNumber')?.hasError?.('pattern')"
              >Gst Number must be<strong>15 digit</strong></mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4" formGroupName="meta">
          <mat-form-field appearance="outline">
            <mat-label>Billing type</mat-label>
            <mat-select formControlName="billingType" name="billingType">
              <mat-option *ngFor="let billingType of billingType" [value]="billingType.value">
                {{billingType.viewValue}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>
              <img src="./assets/images/gst-icon.svg" />
            </mat-icon>
            <mat-error
              *ngIf="clientDetails?.get('gstNumber')?.hasError('required')"
              >Gst Number <strong>required</strong></mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </div>
    <h3 class="title">Head Office</h3>
    <div class="custom-form-right" formGroupName="address">
      <div class="row">
        <div class="col-lg-12">
          <h4>Address Information</h4>
        </div>
        <div class="col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>Street No</mat-label>
            <input
              matInput
              placeholder="Street No"
              name="streetNumber"
              formControlName="streetNumber"
            />
            <mat-icon matSuffix>
              <img src="./assets/images/street-icon.svg" />
            </mat-icon>
            <mat-error
              *ngIf="
                clientDetails?.get('address.streetNumber')?.hasError('required')
              "
              >Street No <strong>Required</strong></mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>Street Name</mat-label>
            <input
              matInput
              placeholder="Street Name"
              name="streetName"
              formControlName="streetName"
            />
            <mat-icon matSuffix>
              <img src="./assets/images/street-icon.svg" />
            </mat-icon>
            <mat-error
              *ngIf="
                clientDetails?.get('address.streetName')?.hasError('required')
              "
              >Street Name <strong>Required</strong></mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>Land Mark</mat-label>
            <input
              matInput
              placeholder="LandMark"
              name="landMark"
              formControlName="landMark"
            />
            <mat-icon matSuffix>
              <img src="./assets/images/landmark-icon.svg" />
            </mat-icon>
            <mat-error
              *ngIf="
                clientDetails?.get('address.landMark')?.hasError('required')
              "
              >Land Mark <strong>Required</strong></mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>city</mat-label>
            <input
              matInput
              placeholder="city"
              name="city"
              formControlName="city"
            />
            <mat-icon matSuffix>
              <img src="./assets/images/city-icon.svg" />
            </mat-icon>
            <mat-error
              *ngIf="clientDetails?.get('address.city')?.hasError('required')"
              >City <strong>Required</strong></mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>State</mat-label>
            <input
              matInput
              placeholder="state"
              name="state"
              formControlName="state"
            />
            <mat-icon matSuffix>
              <img src="./assets/images/state-icon.svg" />
            </mat-icon>
            <mat-error
              *ngIf="
                clientDetails?.get('headOffice.state')?.hasError('required')
              "
              >State <strong>Required</strong></mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field appearance="outline">
            <mat-label>Zip Code</mat-label>
            <input
              matInput
              placeholder="zip Code"
              name="zipCode"
              formControlName="zipCode"
            />
            <mat-icon matSuffix>
              <img src="./assets/images/zip-code-icon.svg" />
            </mat-icon>
            <mat-error
              *ngIf="
                clientDetails?.get('headOffice.zipCode')?.hasError('required')
              "
              >Zip Code <strong>Required</strong></mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="contact">
      <div class="d-flex justify-content-between">
        <h3 class="title">Contact Information</h3>
        <a (click)="addContact()" class="addContact">
          <img src="./assets/images/add-icon.svg" />
        </a>
      </div>
      <ng-container formArrayName="contact">
        <div
          class="custom-form-right"
          *ngFor="
            let item of getContactArray().controls;
            let contactIndex = index
          "
          [formGroupName]="contactIndex"
        >

          <div class="row align-items-start justify-content-between">
            <div class="col-lg-1 counter">
              <p>{{ contactIndex + 1 }}</p>
            </div>
            <div class="col-xl-5 col-lg-5">
              <mat-form-field appearance="outline">
                <mat-label>Contact Person Name</mat-label>
                <input
                  matInput
                  placeholder="Contact Person Name"
                  name="contactPersonName"
                  formControlName="contactPersonName"
                />
                <mat-icon matSuffix>
                  <img src="./assets/images/user-icon.svg" />
                </mat-icon>
                <mat-error
                  *ngIf="item?.get('contactPersonName')?.hasError('required')"
                  >Contact Person Name <strong>Required</strong></mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-xl-5 col-lg-5">
              <mat-form-field appearance="outline">
                <mat-label>Email Id</mat-label>
                <input
                  matInput
                  type="email"
                  placeholder="Email Id"
                  name="emailId"
                  formControlName="emailId"
                />
                <mat-icon matSuffix>
                  <img src="./assets/images/email-icon.svg" />
                </mat-icon>
                <mat-error *ngIf="item?.get('emailId')?.hasError('required')"
                  >Email Id <strong>Required</strong></mat-error>
                  <mat-error *ngIf="item?.get('emailId')?.hasError('pattern')"
                  >Proper Email Id <strong>Required</strong></mat-error>
              </mat-form-field>
            </div>
            <div class="col-lg-1 text-right" style="text-align: right">
              <a
                (click)="removeContact(contactIndex)"
                class="remove"
                *ngIf="contactIndex > 0"
              >
                <img src="./assets/images/delete-white.svg" />
              </a>
            </div>

            <ng-container formArrayName="contactNumberList">
              <div
                class="col-lg-12 d-flex justify-content-between align-items-center"
              >
                <h4>Multiple Phone Number</h4>
                <a (click)="contactNumberAdd(contactIndex)" class="addContact">
                  <img src="./assets/images/add-icon.svg" />
                </a>
              </div>
              <div
                class="row align-items-center"
                *ngFor="
                  let contactList of getContactNumberArray(contactIndex)
                    .controls;
                  let ContactNumberIndex = index
                "
                [formGroupName]="ContactNumberIndex"
              >


                <div class="col-lg-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Contact Number</mat-label>
                    <input
                      matInput
                      type="text"
                      placeholder="Contact Number"
                      name="contactNo"
                      formControlName="contactNo"
                      maxLength="10"
                      (keypress)="keyPress($event)"
                    />
                    <mat-icon matSuffix>
                      <img src="./assets/images/contact-icon.svg" />
                    </mat-icon>
                    <mat-error
                      *ngIf="
                        contactList?.get('contactNo')?.hasError('required')
                      "
                      >Contact Number <strong>Required</strong></mat-error
                    >
                    <mat-error
                      *ngIf="
                        contactList?.get('contactNo')?.hasError('minlength')
                      "
                      >Contact Number <strong>min 10 digit Required</strong></mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <div
                    class="whatapp d-flex flex-row align-items-center justify-content-between mr-5"
                  >
                    <mat-label class="d-flex align-items-center">
                      <img
                        src="./assets/images/whatsapp-icon.svg"
                        class="mr-3"
                      />
                      Whatsapp
                    </mat-label>
                    <mat-slide-toggle
                      formControlName="whatappStatus"
                      class="me-3"
                    ></mat-slide-toggle>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div
                    class="whatapp d-flex flex-row align-items-center justify-content-between mr-5"
                  >
                    <mat-label class="d-flex align-items-center">
                      <img
                        src="./assets/images/primary-number-icon.svg"
                        class="mr-3"
                      />
                      Primary number
                    </mat-label>
                    <mat-slide-toggle
                      formControlName="primaryNumber"
                      (change)="primaryNumberChange($event, contactIndex, ContactNumberIndex)"
                      class="me-3"
                    ></mat-slide-toggle>
                  </div>
                </div>
                <div class="col-lg-1 text-right">
                  <a
                    (click)="
                      deletePhoneNumber(contactIndex, ContactNumberIndex)
                    "
                    class="remove"
                  >
                    <img src="./assets/images/delete-white.svg" />
                  </a>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="fixedBar">
      <button
        *ngIf="!editClientId"
        mat-button
        class="save"
        [disabled]="clientDetails.invalid"
        (click)="clientDetailsSubmit()"
      >
        Go to wear House
        <img src="./assets/images/right-arrow-icon.svg" />
      </button>
      <button
        *ngIf="editClientId"
        mat-button
        class="save"
        [disabled]="clientDetails.invalid"
        (click)="clientEditSubmit()"
      >
        Go to wear House
        <img src="./assets/images/right-arrow-icon.svg" />
      </button>
    </div>
  </form>
</div>
