.connectionShow div{display: flex; align-items: center; justify-content: center;}
.connectionShow div p{font-size: 14px; color: #ffffff; margin-bottom: 0px;}
.connectionShow div mat-icon{color: #ffffff; margin-right: 10px;}
.connectionShow{position: fixed; width: 100%; top:0px; left: 0px; right: 0px;}
