<loader *ngIf="loader"></loader>
<app-header [clientId]="clientId" (outputClientId)="outputClientId($event)"></app-header>
<div class="bg-set">
  <div class="clientForm">
    <div class="header d-flex justify-content-between align-items-center">
      <h3>Warehouse List</h3>
      <!-- <button mat-raised-button (click)="receiverList()">Receiver List</button> -->
    </div>
    <div class="deletePouup" style="position: fixed; width: 20%; left: 0px; right: 0px; margin:0 auto; top:50%;" *ngIf="popUp">
      <h3>Are you sure</h3>
      <a mat-flat-button color="primary" (click)="Yes()">Yes</a>
      <a mat-flat-button color="warn" (click)="no()">No</a>
    </div>
    <div class="custom-table">
      <mat-table mat-table matSort [dataSource]="wearhouseList" multiTemplateDataRows>
        <ng-container [matColumnDef]="item.key" *ngFor="let item of tableHeader">
          <mat-header-cell mat-sort-header *matHeaderCellDef> {{item.label}} </mat-header-cell>
          <!-- <pre>{{item | json}}</pre> -->
          <ng-container *ngIf="item.key !== 'action'; else noSkills">
            <mat-cell *matCellDef="let element">
              <span [innerHTML]="getSellData(element, item.key) | safeHtml"></span>
            </mat-cell>
          </ng-container>
          <ng-template #noSkills>
            <mat-cell *matCellDef="let element">
              <button mat-button mat-icon-button matTooltip="Edit" (click)="edit(element.id)"><img src="assets/images/edit.svg"/></button>
              <button mat-button mat-icon-button matTooltip="Delete" (click)="delete(element.id)"><img src="assets/images/delete.svg"/></button>
            </mat-cell>
          </ng-template>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></mat-row>
      </mat-table>
    </div>
    <a (click)="addWearhouse()" class="add-list">
      <img src="assets/images/feather-plus.svg" />
    </a>
  </div>
</div>
