<div class="bg-set">
    <div class="clientForm">
        <!-- <div class="stepper">
            <ul>
                <li><button (click)="clientStepper()"><span>01</span>Client</button></li>
                <li><button (click)="warehouseStepper()" [disabled]="desibledRouter"><span>02</span>Warehouse</button></li>
                <li><button (click)="receiverStepper()" [disabled]="desibledRouter"><span>03</span>Receiver</button></li>
            </ul>
        </div> -->
        <router-outlet></router-outlet>
    </div>
</div>
